argcomplete==1.9.3
awscli==1.16.52
boto3==1.9.38
botocore==1.12.38
certifi==2018.10.15
cfn-flip==1.0.3
chardet==3.0.4
Click==7.0
colorama==0.3.9
docutils==0.14
durationpy==0.5
filelock==3.0.12
Flask==1.0.2
Flask-Cors==3.0.9
future==0.16.0
hjson==3.0.1
idna==2.7
itsdangerous==1.1.0
Jinja2==2.10.1
jmespath==0.9.3
joblib==0.14.1
kappa==0.6.0
lambda-packages==0.20.0
MarkupSafe==1.1.0
numpy==1.15.4
pkg-resources==0.0.0
placebo==0.8.2
pyasn1==0.4.8
python-dateutil==2.6.1
python-slugify==1.2.4
PyYAML==5.1
regex==2020.2.20
requests==2.20.0
rsa==3.4.2
s3transfer==0.1.13
sacremoses==0.0.38
sentencepiece==0.1.85
six==1.11.0
tokenizers==0.5.0
toml==0.10.0
torch-nightly==1.2.0.dev20190710
tqdm==4.43.0
transformers==2.5.0
troposphere==2.3.4
Unidecode==1.0.22
urllib3==1.24.2
Werkzeug==0.15.3
wsgi-request-logger==0.4.6
zappa==0.47.0
-f https://download.pytorch.org/whl/nightly/cpu/torch_nightly.html
torch-nightly==1.2.0.dev20190710